body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas {
    background: url('LoadingScreen.JPG') no-repeat center center fixed; /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
  }
  
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
  }
  
  #unity-progress-bar-empty {
    width: 960px;
    height: 18px;
    margin: 0; /* Reset margin to 0 */
    padding: 0; /* Reset padding to 0 */
    background: url('progress-bar-empty-dark.png') left;
  }
  
  #unity-progress-bar-full {
    color: #ce9b65;
    width: 1;
    height: 18px;
    margin: 0; /* Reset margin to 0 */
    padding: 0; /* Reset padding to 0 */
    background: url('progress-bar-full-dark.png') left;
  }

  
  
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
